model:
    name: 'VelSupModel'
    depth_net:
        name: 'PackNet01'
        version: '1A'
    pose_net:
        name: 'PoseNet'
        version: ''
    params:
        crop: ''
        min_depth: 0.0
        max_depth: 200.0
datasets:
    augmentation:
        image_shape: (192, 320)
    test:
        dataset: ['DGP']
        path: ['/home/thuar/Desktop/surround_depth/data/datasets/DDAD_tiny/ddad_tiny.json']
        split: ['val']
        depth_type: ['lidar']
        cameras: [['camera_01','camera_06','camera_08','camera_09','camera_07','camera_05']]
save:
    folder: '/home/thuar/Desktop/surround_depth/data/save'
    depth:
        rgb: True
        viz: True
        npz: True
        png: True
